header .row {
    display: flex;
    justify-content: space-between; /* вирівнювання по основній осі(main axis) */
    align-items: center;            /* вирівнювання елементів по ортог. (cross axis) */
    align-content: center;              /* вирівнювання рядів елементів по ортог. осі */
    flex-direction: row;            /* напрям головної осі */
}
header .row {
  justify-content: flex-end;
}