:root {
    --button-headline-text-color: #ffffff;
    --basic-text-color: #000000;
    --bg-color: #0749ff;
    --mob-padding: 20px;
    --ipad-padding: 50px;
    --max-width: 1380px;
    --ver-desk-pad: 50px;
    --ver-mob-pad: 25px;
    --bg-nav-1: transparent;
    --nav-color-1: #ff009f;
    --nav-color-2: #3dff94;
}

html, body {
    font-family: 'Suplexmentary Comic NC';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 2;
    color: var(--txt-color-01);
    scroll-behavior: smooth;
}

p{
    margin-bottom: 1em;
}

header, 
section 
footer {
    padding-bottom: var(--vert-desk-pad);
    padding-top: var(--vert-desk-pad);
}

.inside {
    max-width: var(--max-width);
    margin-left: auto;  /* Центрування */
    margin-right: auto; /* по горизонталі */
    padding-left: var(--ipad-padding);
    padding-right: var(--ipad-padding);
}

@media screen and (max-width:680px) {

    .inside {
    padding-left: var(--mob-padding);
    padding-right: var(--mob-padding);
}
body {
    background-color: linear-gradient(360deg, #fff 0.29%, #b9c7e7 19.23%, #7592d1 38.87%, #0339ae 62.58%, #011848 100%);
}
.boss {
  width: 1164.48px;
  height: 833.561px;
  top: 75px;
  display: flex;
}
.cry {
  width: ;
  height: 833.561px;
  top: 100%;
  display: flex;
}
