@font-face {
    font-family: 'Suplexmentary Comic NC';
    src: url('SuplexmentaryComicNC.eot');
    src: url('SuplexmentaryComicNC.eot?#iefix') format('embedded-opentype'),
        url('SuplexmentaryComicNC.woff2') format('woff2'),
        url('SuplexmentaryComicNC.woff') format('woff'),
        url('SuplexmentaryComicNC.svg#SuplexmentaryComicNC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

